/**
 * This style file generate by QuickDev Tools 2021-12-30 22:35
 * This file used define the module home styles.
 * This file must be imported into parent scss file, to take it effect.
 * like : @import './home/home.scss';
 */

.home {
  &__header {
    height: 44px;
    background-color: var(--brv-light-gray-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    padding: 12px 12px;
    font-size: 16px;
  }

  &__footer {
    height: 32px;
    background-color: var(--brv-light-gray-color);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
      font-weight: 500;
    }

    span.app-version {
      margin-left: 0.25em;
    }
  }
}

.network {
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    div.network-dot {
      width: 12px;
      height: 12px;
      border-radius: 12px;
      margin-left: 4px;

      &.mainnet {
        background: rgba(3, 135, 137, 0.7);
        border: 1px solid rgba(3, 135, 137, 0.9);
      }

      &.ropsten {
        background: rgba(233, 21, 80, 0.7);
        border: 1px solid rgba(233, 21, 80, 0.9);
      }
    }
  }
}
